### **Basics of Python Coding - Part 2**
**Zengchang Qin (PhD)**

Feb 02, 2024

zengchang.qin@gmail.com

[10] Iteration - Loops

In [8]:
import numpy as np
n = 0

for i in range(1, 5):
    n = n + i
    print(i,n)

for c in "apple":
    print(c)

# Simple Fibonacci series generation
a = 1
b = 1
print("Fibonacci Series are:")
print(1, ": ",a)
print(2, ": ",b)

for i in range(3, 10):
    c = a + b
    print(i, ": ", c)
    a = b
    b = c

1 1
2 3
3 6
4 10
a p p l e

Fibonacci Series are:
1 :  1
2 :  1
3 :  2
4 :  3
5 :  5
6 :  8
7 :  13
8 :  21
9 :  34

In [ ]:
dict_a = {"One":1, "Two":2, "Three":3}

for key in dict_a.keys():
    print(f"value of {key} is {dict_a[key]}" )

value of One is 1
value of Two is 2
value of Three is 3

In [ ]:
# sump up elements in a given matrix

x = np.array([[1, 2, 3], [4, 5, 6]])
n, m = x.shape
s = 0
for i in range(n):
    for j in range(m):
        s += x[i, j]

print(s)

21

In [ ]:
print("Fibonacci Series are:")
a = 1
b = 1
i = 3

print(1, ": ",a)
print(2, ": ",b)

while i <= 10:
    c = a + b
    print(i, ": ", c)
    a = b
    b = c
    i +=1

Fibonacci Series are:
1 :  1
2 :  1
3 :  2
4 :  3
5 :  5
6 :  8
7 :  13
8 :  21
9 :  34
10 :  55

In [ ]:
x = range(5)
y = []

for i in x:
    y.append(i**2)

print(y)

[0, 1, 4, 9, 16]

In [ ]:
y = 0
for i in range(1000):
    for j in range(1000):
        if i == j:
            y += 1

print(y)

1000

11. Recursion

In [ ]:
def factorial(n):
    if n == 1: # Base cases!
        return 1
    else: # Recursive step
        return n * factorial(n - 1) # Recursive call

factorial(6)

720

In [ ]:
def fibonacci(n):
    if n == 1: # first base case
        return 1
    elif n == 2: # second base case
        return 1
    else: # Recursive step
        return fibonacci(n-1) + fibonacci(n-2) # Recursive call

fibonacci(10)

55

In [ ]:
def iter_fib(n):
    fib = np.ones(n)

    for i in range(2, n):
        fib[i] = fib[i - 1] + fib[i-2]
    return fib

# save the series into an array
fib_series = iter_fib(20)

for i in range(np.size(fib_series)):
    print(np.int64(fib_series[i]))

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765

In [ ]:
def golden_ratio(n):
    fib = np.ones(n)
    golden = np.ones(n)

    for i in range(2, n):
        fib[i] = fib[i - 1] + fib[i-2]
        golden[i] = fib[i - 1]/fib[i - 2]
    return golden


golden_series = golden_ratio(20)

for i in range(np.size(golden_series)):
    print(golden_series[i])

1.0
1.0
1.0
2.0
1.5
1.6666666666666667
1.6
1.625
1.6153846153846154
1.619047619047619
1.6176470588235294
1.6181818181818182
1.6179775280898876
1.6180555555555556
1.6180257510729614
1.6180371352785146
1.618032786885246
1.618034447821682
1.6180338134001253
1.618034055727554

12. **Towers of Hanoi**

 *The Towers of Hanoi problem consists of three vertical rods, or towers, and N disks of different sizes, each with a hole in the center so that the rod can slide through it. The disks are originally stacked on one of the towers in order of descending size (i.e., the largest disc is on the bottom). The goal of the problem is to move all the disks to a different rod while complying with the following three rules:*


*   Only one disk can be moved at a time.
*   Only the disk at the top of a stack may be moved.
*   A disk may not be placed on top of a smaller disk.

The following figure shows the steps of the solution to the Tower of Hanoi problem with three disks.

In [ ]:
def hanoi_towers(N, Start, Goal, Middle):

    if N != 0:
        # recursive call that moves N-1 stack from starting tower
        # to the middle tower

        hanoi_towers(N-1, Start, Middle, Goal)
        # The movement of the bottom disk from starting tower to final tower
        print(f"Move disk {N} from tower {Start} to tower {Goal}")

        # recursive call that moves N-1 stack from middle tower
        # to the goal tower
        hanoi_towers(N-1, Middle, Goal, Start)


hanoi_towers(3, "Start ", "Goal  ", "Middle")

Move disk 1 from tower Start  to tower Goal
Move disk 2 from tower Start  to tower Middle
Move disk 1 from tower Goal   to tower Middle
Move disk 3 from tower Start  to tower Goal
Move disk 1 from tower Middle to tower Start
Move disk 2 from tower Middle to tower Goal
Move disk 1 from tower Start  to tower Goal